#d3-gantt-chart {
	width: 100%;
	height: 100%;
	margin: 0px;
}

#d3-gantt-chart .chart {
	font-family: Arial, sans-serif;
	font-size: 12px;
}

#d3-gantt-chart .axis path,.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

#d3-gantt-chart .bar {
	fill: #33b5e5;
}

#d3-gantt-chart .bar-failed {
	fill: #CC0000;
}

#d3-gantt-chart .bar-running {
	fill: #669900;
}

#d3-gantt-chart .bar-succeeded {
	fill: #33b5e5;
}

#d3-gantt-chart .bar-killed {
	fill: #ffbb33;
}

