#gantt-chart-hyper-library-main .ribbonContainer
{
    overflow: auto; 
    background-color: #909090; border-bottom: 1px solid White; 
    font-family: Tahoma, Arial; font-size: 12px;
}
#gantt-chart-hyper-library-main .ribbonPanel
{
    float: left; overflow: auto; 
    background-color: #a0a0a0; border-right: 1px solid #c0c0c0; 
}
#gantt-chart-hyper-library-main .ribbonHeader
{
    background-color: #808080; color: white; 
    padding: 5px;
}
#gantt-chart-hyper-library-main .ribbonCommandsArea
{
    padding: 2px 3px;
}
#gantt-chart-hyper-library-main .ribbonCommand
{
    float: left; margin: 4px;
}
#gantt-chart-hyper-library-main .ribbonCommand img
{
    border: 0px;
}
#gantt-chart-hyper-library-main .extraPanel
{
    background-color: #a0a0a0; border-bottom: 1px solid White;
    color: White; font-family: Tahoma, Arial; font-size: 12px;
}
#gantt-chart-hyper-library-main .extraPanelHeader
{
    background-color: #808080; padding: 6px;
}
#gantt-chart-hyper-library-main .extraPanelContent
{
    padding: 1px 6px;
    color: Black;
}
#gantt-chart-hyper-library-main .extraPanelCommandsArea
{
    float: right; padding: 5px 6px;
}
#gantt-chart-hyper-library-main .extraPanel a
{
    color: White;
}
#gantt-chart-hyper-library-main .toggle
{
    margin: 2px;
    padding: 2px;
    padding-bottom: 0px;
    opacity: 0.95;
}
#gantt-chart-hyper-library-main .pressed
{
    background-color: #e0e0e0;
    opacity: 1;
}
