.jsplumb-state-machine .demo {
    /* for IE10+ touch devices */
    touch-action:none;
}

.jsplumb-state-machine .w {
    padding: 16px;
    position: absolute;
    z-index: 4;
    border: 1px solid #2e6f9a;
    box-shadow: 2px 2px 19px #e0e0e0;
    -o-box-shadow: 2px 2px 19px #e0e0e0;
    -webkit-box-shadow: 2px 2px 19px #e0e0e0;
    -moz-box-shadow: 2px 2px 19px #e0e0e0;
    -moz-border-radius: 8px;
    border-radius: 8px;
    opacity: 0.8;
    cursor: move;
    background-color: white;
    font-size: 11px;
    -webkit-transition: background-color 0.25s ease-in;
    -moz-transition: background-color 0.25s ease-in;
    transition: background-color 0.25s ease-in;
}

.jsplumb-state-machine .w:hover {
    background-color: #5c96bc;
    color: white;

}

.jsplumb-state-machine .aLabel {
    -webkit-transition: background-color 0.25s ease-in;
    -moz-transition: background-color 0.25s ease-in;
    transition: background-color 0.25s ease-in;
}

.jsplumb-state-machine .aLabel.jsplumb-hover, .jsplumb-source-hover, .jsplumb-target-hover {
    background-color: #1e8151;
    color: white;
}

.jsplumb-state-machine .aLabel {
    background-color: white;
    opacity: 0.8;
    padding: 0.3em;
    border-radius: 0.5em;
    border: 1px solid #346789;
    cursor: pointer;
}

.jsplumb-state-machine .ep {
    position: absolute;
    bottom: 37%;
    right: 5px;
    width: 1em;
    height: 1em;
    background-color: orange;
    cursor: pointer;
    box-shadow: 0 0 2px black;
    -webkit-transition: -webkit-box-shadow 0.25s ease-in;
    -moz-transition: -moz-box-shadow 0.25s ease-in;
    transition: box-shadow 0.25s ease-in;
}

.jsplumb-state-machine .ep:hover {
    box-shadow: 0 0 6px black;
}

.jsplumb-state-machine .statemachine-demo .jsplumb-endpoint {
    z-index: 3;
}

.jsplumb-state-machine #opened {
    left: 10em;
    top: 5em;
}

.jsplumb-state-machine #phone1 {
    left: 35em;
    top: 12em;
    width: 7em;
}

.jsplumb-state-machine #inperson {
    left: 12em;
    top: 23em;
}

.jsplumb-state-machine #phone2 {
    left: 28em;
    top: 24em;
}

.jsplumb-state-machine #rejected {
    left: 10em;
    top: 35em;
}

.jsplumb-state-machine .dragHover {
    border: 2px solid orange;
}

.jsplumb-state-machine path, .jsplumb-state-machine .jsplumb-endpoint { cursor:pointer; }